@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.navbar {
  background-color: #333; /* Lighter background for navbar */
  color: #fff; /* White text for navbar */
  padding: 1rem;
}

body {
  background-color: #1e1e1e; /* VS Code dark background */
  color: white; /* White text */
  font-family: 'Consolas', 'Courier New', monospace; /* Monospaced font */
  margin: 0;
  padding: 0;
  
}

.page-content {
  border: 5px solid #252526; /* VS Code-like border */
  border-radius: 8px;
  background-color: #252526; /* VS Code-like background */
  margin-top: 20px;
  min-height: calc(100vh - 60px); /* Ensure content area takes up the full height, excluding navbar */
}


